<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="h-100">
        <nav class="navbar nav-fill w-100 navbar-dark bg-dark navbar-expand-lg">
            <div class="container">
                <a href="http://stemformatics.org">
                    <img src="{{ url_for('static', filename='StemformaticsLogo_REV_RGB_300px.png') }}" alt="Stemformatics Logo"/>
                </a>
                <h1 class="display-6 text-white">API Server</h1>
            </div>
        </nav>
        <div class="container text-center py-4 col-md-6">
            <p>This is the API server for Stemformatics. Details on all the API calls available
                with example data can be found at the main website under
                <a href="http://stemformatics.org/datasets/api">datasets > API</a>.
            </p>
        </div>
    </div>
</body>
</html>
